# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.suo
*.ilk
*.pdb
*.iobj
*.ipdb
*.pdb
*.ipch
*.db
*.idb
*.log
*.tlog
*.lastbuildstate
*.opendb

*.vcxproj.user
*.incremental
*.FileListAbsolute.txt

*.db-shm
*.db-wal
*.recipe

Voxel.Android.Application/x64/*
Voxel.Android.Application/x86/*
Voxel/Voxel.Android.Application/x64/*
Voxel/Voxel.Android.Application/x86/*
Voxel/Voxel.Android.Application/ARM/*
Voxel/Voxel.Android.Application/ARM/Debug/*
Voxel/Voxel.Android.Application/ARM/Release/*
Voxel/Voxel.Android.Application/ARM64/*
Voxel/Voxel.Android.Application/ARM64/Debug/*
Voxel/Voxel.Android.Application/ARM64/Release/*
Voxel/Voxel.Android.NativeActivity/x86/Debug/*
Voxel/Voxel.Android.NativeActivity/x86/Release/*
Voxel/Voxel.Android.NativeActivity/x64/Debug/*
Voxel/Voxel.Android.NativeActivity/x64/Release/*
Voxel/Voxel.Android.NativeActivity/ARM/Debug/*
Voxel/Voxel.Android.NativeActivity/ARM/Release/*
Voxel/Voxel.Android.NativeActivity/ARM64/Debug/*
Voxel/Voxel.Android.NativeActivity/ARM64/Release/*
Voxel/x86/Release/*
Voxel/x86/Debug/*
Voxel/x64/Release/*
Voxel/x64/Debug/*
Voxel/Debug/*
Voxel/ARM/Debug/*
Voxel/ARM/Release/*
Voxel/ARM64/Debug/*
Voxel/ARM64/Release/*
